@media screen and (max-width: 600px){
    header .container{
        display: flex;
        flex-direction: row;
    }

    header .container2 i {
        margin-right: 20px;
        cursor: pointer;
        transform: scale(0.9);
    }

    header .container2 .dropbtn-right{
        background-color:var(--preto);
        color: white;
        border: none;
        margin-left: 30px;
        margin-right: -10px;
        cursor: pointer;
        transform: scale(3);
        
    }

    header .container2{
        display: flex;
        flex-direction: row;
        margin-right: 0px;
    }

    header .container2 .search-container:hover{
        width: 230px;
        border: none;  
    }

    .search-container {
        width: 45px;
        
    }

    .menu-superior{
        display: none;
    }
    .navegar{
        display: flex;
    }

    .filme-principal .container{
        transform: scale(0.7);
        margin-left: -20px;
        margin-right: -10px;
    }

    .filme-principal .botoes {
        transform: scale(0.7);
        margin-left: -70px;
        margin-right: -20px;    
    }

    .filme-principal .botao, .botao2{
        font-weight: none;
        width: 100%; 
    }

    .filme-principal{
        height: 300px;
        
    }

    .filme-principal .titulo{
        font-size: 40px;
        margin-top: 10%;
    }

    .filme-principal .descricao{
        width: 80%;
        font-size: 16px;
    }

    .cards{
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        
    }

    footer {
        margin-left: -15px;
        width: 600px;
    }

    .redes-sociais{
        width: 90%;
        
    }
    
}

@media screen and (min-width: 600px){
    
    .cards{
        grid-template-columns: repeat(3, 1fr); 
        width: 100%;  
    }

    footer {
        margin-left: -15px;
        width:100%;
    }
    
   
}

@media screen and (min-width:992px){
    .descricao{
        width: 50%;
    }
    .cards{
        grid-template-columns: repeat(4, 1fr);
    
    }

    footer {
        margin-left: 20%;
        width: 1000px;
        justify-content: center;
    }
}
